.custom-align {
    margin-top: -5px;  /* Ajusta este valor según lo que necesites */
}

.calendar-cell {
    min-width: 100px; /* Ajusta según sea necesario */
    max-width: 150px; /* Ajusta según sea necesario */
    text-align: right;
}

@media (max-width: 768px) {
    .calendar-cell {
        min-width: 50px; /* Ajusta para pantallas más pequeñas */
        max-width: 100px; /* Ajusta para pantallas más pequeñas */
    }
}

